In [1]:
personal_deta = {"name":"侍太郎","age": 36,"gender":"男性"}

for key, value in personal_deta.items():
    print(f"{key}は{value}です。")

for value in personal_deta.values():
  print(value)

nameは侍太郎です。
ageは36です。
genderは男性です。
侍太郎
36
男性

In [2]:
user_names = ["侍太郎","侍一郎","侍二郎","侍三郎","侍四郎"]

for user_name in user_names:
    print(user_name)

侍太郎
侍一郎
侍二郎
侍三郎
侍四郎

In [3]:
personal_deta = {"name":"侍太郎","age": 36,"gender":"男性"}

for key, value in personal_deta.items():
    print(f"{key}は{value}です。")

for value in personal_deta.values():
  print(value)

nameは侍太郎です。
ageは36です。
genderは男性です。
侍太郎
36
男性

In [4]:
user_names = ["侍太郎","侍一郎","侍二郎","侍三郎","侍四郎"]

for index,value in enumerate(user_names):
  print(f"{index} : {value}")

0 : 侍太郎
1 : 侍一郎
2 : 侍二郎
3 : 侍三郎
4 : 侍四郎

In [5]:
user_names = ["侍太郎","侍一郎","侍二郎","侍三郎","侍四郎"]

target = "侍二郎"

for user_name in user_names:
  print(user_name)

  if(user_name == target):
    print(f"{target}さんが見つかったので、繰り返しは強制終了します。")
    break

侍太郎
侍一郎
侍二郎
侍二郎さんが見つかったので、繰り返しは強制終了します。

In [6]:
score = {"国語":80,"数学":55,"理科":70,"社会":85,"英語":60}
print("合格した科目は以下の通りです。")

for key, value in score.items():
    if (value < 70):
        continue
    print(f"{key} : {value}点")

合格した科目は以下の通りです。
国語 : 80点
理科 : 70点
社会 : 85点

In [5]:
array = ["水", "金", "地", "火", "木", "土", "天", "海", "冥"]

for element in array:
    print(element)

index = 0

while index < len(array):
    print(array[index])
    index += 1

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥